/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$base__space-unit: 1.5rem;


// Colors

$color__green: #248A83;
$color__purple: #2f1339;
$color__orange: #d99054;
$color__yellow: #f0e4d1;
$color__litegrey: #a1a1a1;
$color__text-screen: #21759b;
$color__white: #fff;
$color__background-body: #fff;
$main__text__color: #404040;
$color__border-abbr: #666;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;



// Typography

$font__main: Merriweather, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.75;


// Typography
// Main Fonts
$font__main: 'merriweatherregular', serif;
$font_main_bold: 'merriweatherbold', serif;
$font_main_italic: 'merriweatheritalic', serif;
$font_main_italic_bold: 'merriweatherbold_italic', serif;
$font_main_light: 'merriweatherlight', serif; // Title Fonts
$font_titles_normal: 'novecento_sans_widenormal' san-serif;
$font_titles_bold: 'novecento_sans_widedemibold', san-serif; //Default fonts
$font__code: 'merriweatherregular', serif;
$font__pre: 'merriweatherregular', serif;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;
//Extra Styles
//Border's
